.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.navbar.open {
    transform: translateY(0);
}

.navbar.scrolled {
    background-color: #555;
}

/* Estilos para os itens da navbar */
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilos para itens da navbar quando aberta */
.navbar.open a {
    display: block;
    margin: 10px;
}

/* Outros estilos de responsividade e posicionamento */
